{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="stats-header">{{ user_data.username }}' Friends</h1>
    <div class="container-fluid">
        <a href="/add-friends" class="basic">
            <div class="button green" style="margin: auto; margin-bottom: 1rem;">Add friends</div>
        </a>
        <div id="friends-list">
            {% for friend in friends %}
            <div class="friend-row">
                <img src="{{ friend.image }}" style="max-width:50">
                <div class="username">{{ friend.username }}</div>
                <a href="/chat/{{ friend.id }}"><div class="chat-button"><i class='fas fa-comment-alt'></i></div></a>
            </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}