/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-color:#121314;
    --bg-color2:#16171a;
    --bg-color3: #262627;
    --border-color:#30363d;
    --spotify-green:#1DB954;
    --blue:#1d8db9;
    --purple: rgba(164, 54, 228);
    --red: rgba(228, 60, 54);
    --nav-height:6rem;
}
body, html {
    height: 100%;
    font-family: 'Circular Std', Arial, sans-serif;

}

body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    color: white;

    align-items: center;
    align-content: center;
    text-align: center;

    overflow-x: hidden;
    overflow-y: scroll;

}

.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.welcome-bubble {
    position: relative;
    stroke: var(--spotify-green);
    stroke-width: 2px;
    width: 100px;
    height: 100px;
    transform: scale(0);
}
.welcome-bubble:nth-child(odd) {
    animation: fly-up 3s linear infinite;
}
.welcome-bubble:nth-child(even) {
    animation: fly-down 3s linear infinite;
}
.welcome-bubble:nth-child(1n) {
    animation-delay: 0.5s;
}
.welcome-bubble:nth-child(2n) {
    animation-delay: 1s;
}
.welcome-bubble:nth-child(3n) {
    animation-delay: 1.5s;
}
.welcome-bubble:nth-child(4n) {
    animation-delay: 2s;
}
.welcome-bubble:nth-child(5n) {
    animation-delay: 2.5s;
}
.welcome-bubble:nth-child(6n) {
    animation-delay: 3s;
}

@keyframes fly-up {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
@keyframes fly-down {
    0% {
        transform: translateY(-10vh) scale(0);
    }
    100% {
        transform: translateY(100vh) scale(1);
    }
}
