/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-color:#121314;
    --bg-color2:#16171a;
    --bg-color3: #262627;
    --border-color:#30363d;
    --spotify-green:#1DB954;
    --blue:#1d8db9;
    --purple: rgba(164, 54, 228);
    --red: rgba(228, 60, 54);
    --nav-height:6rem;
}
body, html {
    height: 100%;
    font-family: 'Circular Std', Arial, sans-serif;

}

body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    color: white;

    align-items: center;
    align-content: center;
    text-align: center;

    overflow-x: hidden;
    overflow-y: scroll;

}

.welcome-container {
    position: absolute;
    width: 10%;
    height: 30%;
    pointer-events: none;
    z-index: -1;
    animation: left-right 3s alternate-reverse infinite ease-in-out;
}
.welcome-bubble {
    align-content: center;
    position: relative;
    stroke: var(--spotify-green);
    fill: var(--spotify-green);
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 100%;

    animation: up-down 1.5s alternate infinite ease-in-out;
}

/* .welcome-container:nth-child(1) {
    animation-delay: 0.5s;
}
.welcome-container:nth-child(2) {
    animation-delay: 1s;
}
.welcome-container:nth-child(3) {
    animation-delay: 1.5s;
}
.welcome-container:nth-child(4) {
    animation-delay: 2s;
}
.welcome-container:nth-child(5) {
    animation-delay: 2.5s;
}
.welcome-container:nth-child(6) {
    animation-delay: 3s;
}
.welcome-container:nth-child(7) {
    animation-delay: 3.5s;
}
.welcome-container:nth-child(8) {
    animation-delay: 4s;
}
.welcome-container:nth-child(9) {
    animation-delay: 4.5s;
}
.welcome-container:nth-child(10) {
    animation-delay: 5s;
} */

@keyframes up-down {
    to { transform: translatey(200%);}
}
@keyframes left-right {
    to { transform: translatex(100%);} /* width of container is 10% so 1000% of 10% is the whole width */
}
