/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-color:#121314;
    --bg-color2:#16171a;
    --bg-color3: #262627;
    --border-color:#30363d;
    --spotify-green:#1DB954;
    --purple: rgba(164, 54, 228);
    --red: rgba(228, 60, 54);
    --nav-height:6rem;
}
body, html {
    height: 100%;
    font-family: 'Circular Std', Arial, sans-serif;

}

body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    color: white;

    align-items: center;
    align-content: center;
    text-align: center;

    overflow-x: hidden;
    overflow-y: scroll;

}