/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-color:#121314;
    --bg-color2:#16171a;
    --bg-color3: #262627;
    --border-color:#30363d;
    --spotify-green:#1ed760;
    --purple: rgba(164, 54, 228);
    --red: rgba(228, 60, 54);
    --nav-height:6rem;
}
body, html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
    color: white;

    align-items: center;
    align-content: center;
    text-align: center;

    overflow-x: hidden;
    overflow-y: scroll;

    font-family: "Montserrat", sans-serif;
}

/* NAV */


/* ARTIST SCROLLER */
#top-artists {
    background-color: var(--bg-color2);
    height: 40rem;
    width: 100%;

    display: flex;
    align-items: center;
    overflow-x: scroll;
}
#top-artists img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;   

    -webkit-user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.artist-box {
    margin: 2rem;
}
