{% extends "base.html" %}

{% block content %}


    {% if user_data.authorised %}



    <div class="game-modes-container">
        <a href="{{ url_for('game_page') }}" class="flippable-button">
          <div class="button-content">
            <div class="flippable-button-front gradient-border">
              <h1>Classic Mode</h1>
            </div>
            <div class="flippable-button-back">
                Guess the song from its lyrics, but be careful!<br>
                One wrong guess and your streak will end.<br>
                How many you can get in a row?
            </div>
          </div>
        </a>
        <a href="#" class="flippable-button">
          <div class="button-content">
            <div class="flippable-button-front gradient-border">
              <h1>Duet Mode</h1>
            </div>
            <div class="flippable-button-back">
                Still in development D:
            </div>
          </div>
        </a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="flippable-button">
            <div class="button-content">
              <div class="flippable-button-front gradient-border">
                <h1>Crazy Mode</h1>
              </div>
              <div class="flippable-button-back">
                &#128064;&#128064;&#128064;
              </div>
            </div>
          </a>
    </div>


    {% else %}

    <div class="align-to-middle">
        <h1>Welcome to Songversation - the song-guessing chat game that meets all the 
            CITS3403 project requirements!<br>
            <a class="cta-button" href="{{ url_for('login') }}">Log in with Spotify</a>
        </h1>
    </div>
    {% endif %}
{% endblock %}