{% extends "base.html" %}

{% block content %}


    {% if user_data.authorised %}
    <h2>top artists</h2>
    <div id="top-artists" style="display:none"></div>
    <div class="menu-button-container">
        <a href="/lyricgame">
            <div class="menu-button">Guess the Song</div>
        </a>
        <a href="#">
            <div class="menu-button">Lyric Battle</div>
        </a>
    </div>
    {% else %}

    <div class="align-to-middle">
        <h1>Welcome to Songversation - the song-guessing chat game that meets all the 
            CITS3403 project requirements!<br>
            <a class="cta-button" href="{{ url_for('login') }}">Log in with Spotify</a>
        </h1>
    </div>
    {% endif %}
{% endblock %}