{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/rotate.js')}}"></script> 
    <script src="{{ url_for('static', filename='scripts/register.js')}}"></script> 
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <div id="sign-in-container" class="user-form register" style="--grad: 0;">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-input-container">
                {{ form.username.label }}
                {{ form.username(size=32, class_="form-control", id="username") }}
                <div class = "form-info" id = "username-info">
                    <span id = "username-info-icon" class="glyphicon glyphicon-question-sign"></span>
                    <span id = "username-info-text">hello there</span>
                </div>
            </div>
            <div class="form-input-container">
                {{ form.email.label }}
                {{ form.email(size=64, class_="form-control", id="email") }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-input-container">
                {{ form.password.label }}
                {{ form.password(size=32, class_="form-control", id="first-pass") }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-input-container">
                {{ form.password2.label }}
                {{ form.password2(size=32, class_="form-control", id="repeat-pass") }}
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>{{ form.submit(id="submit") }}</div>
        </form>
    </div>
{% endblock %}