{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>My Stats - {{ user_name }}</h1><br><br>
    <table class="table" style="color: rgb(202, 202, 202);">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Score</th>
                <th scope="col">Song You Failed To Get</th>
            </tr>
        </thead>
        <tbody>
            {% for game in game_info %}
            <tr>
                <td>{{ game.date_of_game.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ game.score }}</td>
                <td>{{ game.song_failed_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
