<div class="welcome-container">
    <!--Music Note SVGs -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="music-note" viewBox="0 0 25 25">
            <circle cx="9" cy="18" r="3" />
            <path d="M12 18V3" />
            <path d="M12 3L18 4V8L12 7V3Z" />
        </symbol>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="music" viewBox="0 0 25 25">
            <circle cx="6" cy="18" r="3" />
            <path d="M9 18V5" />
            <path d="M21 3L9 5" />
            <path d="M21 7L9 9" />
            <circle cx="18" cy="16" r="3" />
            <path d="M21 16V3" />
        </symbol>
    </svg>
    <div class="welcome-bubble-container">
        <div class="welcome-bubble">
            <svg  style="animation-delay: 0s"><use href="#music" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -0.2s"><use href="#music-note" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -0.4s"><use href="#music" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -0.6s"><use href="#music-note" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -0.8s"><use href="#music" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -1s"><use href="#music-note" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -1.2s"><use href="#music" /></svg>
        </div>
        <div class="welcome-bubble">
            <svg  style="animation-delay: -1.4s"><use href="#music-note" /></svg>
        </div>
    </div>
</div>
